.NavBarContainer{
    margin: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA;
    }

a.disabled{
    color: #ffffff;
}

a.ActiveOption{
    color: #ffffff;
}

.btnBoostrap{
margin: auto !important;
margin-right: 15px !important;
margin-left: 15px !important;
border: none;
border-radius: 0.375rem;
color: #ffffff ;
font-weight: bold;
background-color: #b559ce;
cursor: pointer;
transition: background-color 0.5s;
}

.btnBoostrap:hover{
background-color: #713881;
border-color: #713881;
}